<div class="dashboard-container">
    <h2>📊 Admin Dashboard</h2>

    <div class="cards">
        <div class="card orders">
            <h3>Total Orders</h3>
            <p>{{ stats.totalOrders }}</p>
        </div>

        <div class="card users">
            <h3>Total Users</h3>
            <p>{{ stats.totalUsers }}</p>
        </div>

        <div class="card revenue">
            <h3>Total Revenue</h3>
            <p>₹{{ stats.totalRevenue | number:'1.2-2' }}</p>
        </div>

        <div class="card product product-card">
            <h3>Top-Selling Product</h3>
            <img *ngIf="stats.topProductImage; else noImage" [src]="stats.topProductImage" alt="Product Image">
            <ng-template #noImage>
                <img src="assets/images/no-product.png" alt="No Product">
            </ng-template>
            <p>{{ stats.mostSoldProduct }}</p>
        </div>
    </div>
</div>